{% extends 'base.html' %}

{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}

{% block content %}

<h1> Lista zwierząt do adopcji:</h1>

    <ul>
        {% for animal in animal_list %}
<div>
        <li>
            <a href="/detail_animal/{{animal.id}}/">{{animal.name}}</a>
            {% for image in animal.image_set.all %}

	            <img src='{{image.path.url}}' width="100"/>

    {% endfor %}</br>
</br>
</br>
        </li>

        {% endfor %}
</div>
    </ul>


{% endblock %}